iframe{
	position: relative;
	right: 450px;
	width: 500px;
	top: 17px;
	max-width: 100%;
	border: groove  ;
}
.classs{
	position: relative;
left: 50px;}
 
html
{
	background-color: #0396F9;
}
body
{
width: 1300px;

height:1700px;
border: 2px solid black;
margin: 20px auto;
padding: 20px;
border-radius: 10px;
text-align: center;
	
}


nav{
	background-color: #060188;
	padding: 5px;
	padding-left: 280px;
	text-align: center;
	margin-top: 3px;
	position: relative;
	right: 10px;
	border: solid;
	display: flex;
	align-items: center;
	
}
a
{
	position: relative;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
	color: #a0a0a0;
	font-size: 18px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}
a:after
{
	content: "";
	position: absolute;
	background-color: #ff3c78;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
	
}
a:hover:after
{
	width: 100%;
}
nav a
{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	text-decoration: none;
	padding: 0 20px;
}
navul
{list-style-type:none; 
padding:0;
margin:0;}

nav>ul>li
{display:inline-block;
position:relative;
padding: 20px;}


nav ul li ul
{width:250px;
position:absolute;
z-index:999;/
text-align:left;
background-color:#890417;
box-shadow:005px#800d29;}

nav ul li ul li a
{color:white;
padding:10px;
display:block;}

nav ul li ul li:hover a:hover
{color:#890417; 
background-color:#f7e7d9;}

nav ul li ul{ display:none;}

nav ul li:hover ul { display:block;}

header
{
	text-align: center;
	text-decoration: none;
	text-anchor: middle;
	padding: -20px;
}

h1{
	color: red;
	font-size: 50px;
	text-align: center;
	font-family:  Copperplate Gothic;

}

h2{
	padding-top: 20px;
	font-family: cursive;
	font-weight: bold;
	color: orange;
	
}



aside{
	
	width: 200px;
	height: 800px;
	border: solid;
	position: relative;
     bottom: 1330px;
	background-color: black;

	

}


aside a{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	text-decoration: none;
	padding: 0 20px;
	float: right;
	
	border: solid;
}

aside ul
{list-style-type:none; 
padding:0;
margin:0;}

aside>ul>li
{display:inline-block;
position:relative;
padding: 30px;}

aside ul li ul
{width:250px;
position:absolute;
z-index:999;/
text-align:left;
background-color:#890417;
box-shadow:005px#800d29;}

aside ul li ul li a
{color:white;
padding:10px;
display:block;}

aside ul li ul li:hover a:hover
{color: blue; 
background-color:#f7e7d9;}

aside ul li ul{ display:none;}

aside ul li:hover ul { display:block;}



}
main
{
width: 500px;
border: solid;
position: relative;
left: 500px;
top: 10px;	
}
p{
	color: lightgreen;
	font-family: cursive;
	font-weight: bold;
	
	
}

.right{
	float: right;
	position: relative;
	left: 0px;
	bottom: 2130px;
	height: 850px;
	width: 150px;
	border-right-width: 100px
}
footer{
	border-top: solid;
	position: relative;
	padding: 20px;
bottom: 780px;
text-align: center;}
